In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.590737  1.086646
1    a  two -0.946376  0.305091
2    b  one -0.747201  0.203177
3    b  two  0.822609 -0.139103
4    a  one -1.095456  0.865789

In [2]:
# Series Groupby
display(df['data1'])
display(df['key1'])
df['data1'].groupby(df['key1']) #Series執行Groupby
df['data1'].groupby(df['key1']).mean()

0   -0.590737
1   -0.946376
2   -0.747201
3    0.822609
4   -1.095456
Name: data1, dtype: float64

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

key1
a   -0.877523
b    0.037704
Name: data1, dtype: float64

In [3]:
df['data1'].groupby(df['key1']).agg(['mean', 'std'])

          mean       std
key1
a    -0.877523  0.259308
b     0.037704  1.110023